.container {
  text-align: center;
  margin-top: 23px;
}
table {
  margin: auto;
}
input {
  border-radius: 20px;
  border: 2px solid black;
  background-color: azure;
  font-size: 35px;
}
button {
  border-radius: 30px;
  font-size: 25px;
  background-color: rgb(62, 147, 62);
  width: 95px;
  height: 45px;
  margin: 5px;
}
.Calculator {
border: 5px;
display: inline-table;    
background-color: red;
  padding: 20px;
  border-radius: 39px;

}
h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

